In [ ]:
""" New York Restaurants
We have put together a table of restaurants called nomnom and we need your help to answer some questions. Use the SQL commands you just learned and find the best dinner spots in the city.

The schema of this table is available here: https://content.codecademy.com/courses/sql-intensive/nomnom.png?_gl=1*hsjzte*_ga*OTUyNjIzODg2OS4xNjc1MDM4MTAw*_ga_3LRZM6TM9L*MTY3NTM2OTE5OC40LjEuMTY3NTM2OTI0Ni4xMi4wLjA.
"""

In [ ]:
-- Q1: What are the column names for the nomnom table?
SELECT * 
FROM nomnom;
name, neighborhood, cuisine, review, price, health

In [ ]:
-- Q2: What are the distinct neighborhoods?
SELECT DISTINCT neighborhood
FROM nomnom;
name, neighborhood, cuisine, review, price, health

In [ ]:
-- Q3: What are the distinct cuisine types? 
SELECT DISTINCT cuisine
FROM nomnom;
-- Steak, Korean, Chinese, Pizza, Ethiopian, Vegetarian, Italian, Japanese, American, Mediterranean, Indian, Soul Food, Mexican

In [ ]:
-- Q4: Suppose we would like some Chinese takeout. What are out options? 

SELECT *
FROM nomnom
WHERE cuisine = 'Chinese';

In [ ]:
-- Q5: Return all the restaurants with reviews of 4 and above.

SELECT *
FROM nomnom
WHERE review >= 4;

In [ ]:
-- Q6: Suppose Abbi and Ilana want to have a fancy dinner date. Return all the restaurants that are Italian and $$$.

SELECT *
FROM nomnom
WHERE cuisine = 'Italian'
   AND price = '$$$';

In [ ]:
-- Q7: % is a wildcard character that matches zero or more missing letters in the pattern. To find the restaurant names that contain the word ‘meatball’:

SELECT *
FROM nomnom
WHERE name LIKE '%meatball%';

In [ ]:
-- Q8: Let’s order delivery to the house!

-- Find all the close by spots in Midtown, Downtown or Chinatown.
SELECT *
FROM nomnom
WHERE neighborhood = 'Midtown'
   OR neighborhood = 'Downtown'
   OR neighborhood = 'Chinatown';

In [ ]:
-- Q9: Find all the health grade pending restaurants (empty values).
SELECT *
FROM nomnom
WHERE health IS NULL;

In [ ]:
-- Q10: Create a Top 10 Restaurants Ranking based on reviews.

SELECT BY *
FROM nomnom
ORDER BY review DESC 
LIMIT 10;

In [ ]:
-- Q11: Use a CASE statement to change the rating system to:
-- review > 4.5 is Extraordinary
-- review > 4 is Excellent
-- review > 3 is Good
-- review > 2 is Fair
-- Everything else is Poor

SELECT name 
CASE 
WHEN review > 4.5 THEN
  "Extraordinary"
WHEN review > 4 THEN 
  "Excellent"
WHEN review > 3 THEN 
"Good"
WHEN review > 2 THEN 
"Fair"
ELSE 
  "Poor"
  End as "Review"'
FROM nomnom;